services:
  postgres:
    image: postgres:16
    container_name: jokerbot-postgres
    environment:
      POSTGRES_DB: jokerbot
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    ports:
      - "5434:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
