[project]
name = "joker-bot"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "alembic>=1.18.0",
    "asyncpg>=0.31.0",
    "greenlet>=3.3.0",
    "python-dotenv>=1.2.1",
    "sqlalchemy>=2.0.45",
]
